/* 20230307 */
.adContainer,.adContainer1,.adContainer2{
            
    width: 100%;
    height: 5.628rem;
}
.adContainer{
    /*
    border: .0242rem solid rgb(34, 255, 0);*/
    width: 100%;
    height: 5.628rem;
    display: flex;
    overflow-x: scroll;
    /* 滚动方向横向 强制吸附效果 */
    scroll-snap-type: x mandatory;
}
.adContainer1{
    
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    /* 对齐 */
    scroll-snap-align: center;
    /* 吸附停止，防止元素跨越 */
    scroll-snap-stop: always;
}
.adContainer1:nth-child(1){
    /*
    background-image: url(../images/index/HUAT50.webp);*/
    background-image: url(https://www.huat.edu.cn/__local/9/B7/FA/2800BC61DED912788758CB9985D_A44C563E_5415F.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*
.adContainer1:nth-child(2){
    background-size: cover;
    background-image: url(../images/index/HUAT50.jpg);
}
.adContainer1:nth-child(3){
    background-size: cover;
    background-image: url(../images/editxck/img1.png);
}
.adContainer1:nth-child(4){
    background-size: cover;
    background-image: url(../images/index/sheqi.jpeg);
}
.adContainer1:nth-child(5){
    background-size: cover;
    background-image: url(../images/index/IMG_8622.PNG.webp);
}
.adContainer1:nth-child(6){
    background-image: url(../images/index/image.png.png);
}
*/
.adContainer2{
    /*
    background: linear-gradient(to top,#D9434D 0%,rgba(218, 67, 77, 0) 25%);*/
    background: linear-gradient(to top,rgba(125, 19, 6, 1) 0%,rgba(125, 19, 6, 0) 25%);
    position: absolute;
    top: 0;
}










