.coursebox{
    border: .0242rem solid rgb(200, 255, 0);
    border-radius: .1932rem;
    box-shadow: .2415rem .2415rem .2415rem rgba(0, 0, 0, 0.342);
    background: rgb(247, 255, 17);
    width: 9.3961rem;
    height: 7.2947rem;
    animation: coursebox 8s infinite;
}
@keyframes coursebox{
    0%{
        transform: scale(0.95);
        box-shadow: none;
    }
    5%{
        transform: scale(1);
        box-shadow: .2415rem .2415rem .2415rem rgba(0, 0, 0, 0.342);
    }
    10%{
        transform: scale(0.95);
        box-shadow: none;
    }
    90%{
        transform: scale(0.95);
        box-shadow: none;
    }
    95%{
        transform: scale(1);
        box-shadow: .2415rem .2415rem .2415rem rgba(0, 0, 0, 0.342);
    }
    100%{
        transform: scale(0.95);
        box-shadow: none;
    }
}

.modelbox{
    border: .0242rem solid rgb(200, 255, 0);
    border-radius: .314rem .314rem 0 0;
    width: 100%;
    
    flex: 1;
    margin-top: .6763rem;
    background: rgb(34, 255, 0);
    display: flex;
    flex-direction: column;
    
}
/* 锚点样式 */
.model{
    width: 100%;
    /*
    border: .0242rem solid rgb(0, 0, 0);*/
    display: flex;
    justify-content: center;
}
.model a{
    /*
    width: 2.4155rem;*/
    height: .9662rem;
    /*
    border: .0242rem solid rgb(0, 0, 0);*/
    display: inline-block;
    font-size: .4589rem;
    padding: 0 20px;
    border-bottom: .0966rem solid red;
    line-height: .9662rem;
    font-weight: 600;
    letter-spacing: .0483rem;
}
.modelcontent{
    width: 100%;
    /*
    border: .1242rem solid rgb(255, 0, 0);*/
    flex: 1;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    /* 平滑滚动 */
    scroll-behavior: smooth;
    position: relative;
}
.leftcontent,.rightcontent{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    /* 对齐 */
    scroll-snap-align: center;
    /* 吸附停止，防止元素跨越 */
    scroll-snap-stop: always;


}
.leftcontent{
    background-color: rgb(18, 255, 247);
}
.rightcontent{
    background-color: rgb(46, 53, 255);
}


/*
.model a::before{
    content: '';
    width: 1.2077rem;
    height: .9662rem;
    background-color: #fff;
    box-sizing: border-box;
    
    position: absolute;
    
}*/
/*
.model1{
    text-align: left;
}
.model2{
    text-align: right;
}*/