*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
/* header */
/* header{
    height: 70px;
    background: #000;
} */

/* section */
section{
    flex: 1;
    background: rgb(255, 208, 88);
    /* 子元素水平居中 */
    display: flex;
    justify-content: center;
    position: relative;
    overflow-y: scroll;
}
section .main{
    width: 90%;
    height: 2000px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
}
section .source{
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
    display: none;
}
section #btn{
    position: absolute;
    top: 40px;
    width: 150px;
    height: 45px;
    background: rgb(244, 212, 152);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #4099ff;
    
}


#btn .icon{
    width: 25px;
    height: 25px;
    /* background: rgba(0, 0, 0, 0.901); */
    background-image: url('../img/change.png');
    background-size: contain;
    margin-left: 5px;

}
#btn p{
    color: #4099ff;
    font-size: 22px;
    letter-spacing: 2.5px;
    margin-right: 4.5px;
    font-weight: 550;
}

/* 课程表 */
/* detailBox */
.detailBox{
    width: 90%;
    height: 70px;
    background: #000;
    position: absolute;
    top: 100px;
    border: 1px solid red;
    border-radius: 20px;
}
/* table */
section .table{
    width: 90%;
    height: 200px;
    border: 2px solid #4099ff;
    border-color: #4099ff;
    position: absolute;
    top: 175px;
    background-color: #fff;
    
}
.table-xg-20{
}
.table-xz-20{
    opacity: 0;
}
.table tr td{
   font-size: 16px;
   padding: 5px auto;
   border: 0px solid red;
   
   
   
}
/* 表头单元格背景设置 */
.table>tr:nth-child(1){
    background-color: #4099ff;
}
.table tr:nth-child(1) td{
    background-color: #a7d0ff;
}
.table tr:nth-child(2) td:nth-child(1){
    background-color: #a7d0ff;
}
.table tr:nth-child(4) td:nth-child(1){
    background-color: #a7d0ff;
}
.table tr:nth-child(6) td:nth-child(1){
    background-color: #a7d0ff;
}


/* 课程单元格背景设置 */
/* 计算机网络B */
.table .jsjwlb{
    background-color: rgb(255, 71, 71);
}
/* 管理沟通 */
.table .glgt{
    background-color: rgb(255, 238, 1);
}
/* 预测与决策分析模型 */
.table .ycyjcfxmx{
    background-color: rgb(28, 206, 255);
}
/* 数据库技术A */
.table .sjkjsa{
    background-color: rgb(160, 71, 255);
}
/* 企业决策模拟 */
.table .qyjcmn{
    background-color: rgb(255, 71, 249);
}
/* 数据仓库与数据挖掘 */
.table .sjckysjwj{
    background-color: rgb(72, 255, 0);
}
/* 运筹学 */
.table .ycx{
    background-color: rgb(255, 106, 0);
}
/* ERP生产管理实务 */
.table .erpscglsw{
    background-color: rgb(47, 32, 255);
}
/* ERP财务管理实务 */
.table .erpcwglsw{
    background-color: rgb(71, 255, 240);
}
/* 商务谈判 */
.table .swtp{
    background-color: rgb(250, 197, 197);
}


/* 信资20级特有 */
/* 信息计量学 */
.table .xxjlx{
    background-color: rgb(93, 93, 255);
}
/* 搜索引擎原理与技术 */
.table .ssyqylyjs{
    background-color: rgb(255, 222, 35);
}
/* 大数据应用技术 */
.table .dsjyyjs{
    background-color: rgb(209, 66, 248);
}
/* 空表 */
.table .null{
    background-color: rgb(255, 255, 255);
}
/* footer */
footer{
    height: 70px;
    background: #4099ff;
}
footer ul{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    /* 分散对齐 */
    justify-content: space-around;
}
footer ul li{
    width: 24%;
    height: 85%;
    border: 1px solid green;
    color: white;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}