*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
html,body{
    height: 100%;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
body{
    display: flex;
    flex-direction: column;
}
/* header */
header{
    height: 70px;
    background: #4099ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
header p{
    font-size: 23px;
    color: #fff;
    letter-spacing: 4px;
}
header div{
    width: 101px;
    height: 43.6px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 15px;
    /* background: #000; */
    /* background-image: url(./img/logotext.png);
    background-size: contain;
    margin: 15px auto; */

}

/* section */
section{
    flex: 1;
    background: #d3e8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

button{ 
    width: 100px;
    height: 60px;
    background-color: rgb(137, 137, 137);
}

/* show */
.show{
    width: 400px;
    height: 310px;
    background: rgb(255, 255, 255);
    margin-top: 20px;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* time */
.time{
    width: 95%;
    height: 25px;
    background: rgba(255, 0, 0, 0);
    position: relative;
    display: flex;
    margin-top: 7px;
    margin-bottom: 30px;
}
.time .time1{
    display: block;
    background: rgba(250, 250, 250, 0);
    width: 215px;
    height: 25px;
    position: absolute;
    left: 2px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    
}
.time .time2{
    display: block;
    background: rgb(149, 191, 70, 0);
    width: 85px;
    height: 25px;
    position: absolute;
    right: 2px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    
}

/* detailshow */
.detailshow{
    width: 390px;
    height: 270px;
    border: 1px solid rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.nbox{
    width: 385px;
    height: 135px;
    border: 1px solid rgba(0, 0, 0, 0);
}
.nbox>p{
    margin-left: 60px;
    font-size: 15px;
    color: rgb(169, 169, 169);
}
.inbox{
    border: 1px solid rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-around;
}
.left{
    width: 35px;
    height: 100px;
    border: 1px solid rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left>p{
    color: #00D431;
    font-size: 13px;
}
.icon{
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 128, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.icon .down{
    width: 20px;
    height: 20px;
    background: #00d43142;
    border-radius: 50%;
    position: absolute;
}
.icon .up{
    width: 15px;
    height: 15px;
    background: #00D431;
    border-radius: 50%;
    position: absolute;
}


.right{
    
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 330px;
    display: flex;
    align-items: center;
    box-shadow: 3.5px 4px 5px rgba(0, 0, 0, 0.192);
}
.right .lef{
    width: 200px;
    height: 95px;
    border: 1px solid rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 12px;

}
.lef .course{
    font-size: 21px;
    color: #00D431;

}
.lef .area{
    font-size: 25px;
    color: #00D431;
}


.right .rig{
    width: 100px;
    height: 95px;
    border: 1px solid rgba(0, 0, 255, 0);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   


}
.rig .teacher{
    margin-top: 12px;
    font-size: 16px;
    color: #00D431;
}
.rig .tim{
    font-size: 16px;
    color: #00D431;
}
.now{
   
}

.next .right{
    
    animation:  5s infinite linear;
    position: relative;
    overflow: hidden;
    animation: run1-1 8s infinite linear;
}
@keyframes run1-1 {
    0%{
        opacity: 0.3;
    }
    6%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.next .right::before{
    content: '';
    width: 20px;
    height: 135px;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 10px rgb(255, 255, 255) , -4px 4px 10px rgb(255, 255, 255);
    position: absolute;
    
    rotate: 20deg;
    left: 350px;

    animation: run1 8s infinite linear;
}
@keyframes run1 {
    0%{
        left: 350px;
    }
    6%{
        left: -60px;
    }
    100%{
        left: -60px;
    }
}
/* footer */
footer{
    height: 70px;
    background: #4099ff;
}
footer ul{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    /* 分散对齐 */
    justify-content: space-around;
}
footer ul li{
    width: 24%;
    height: 85%;
    border: 1px solid green;
    color: white;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer ul li:nth-child(2):hover {
    background: #000;
} */
